@import 'variables';

.btn-check {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

.btn-check:disabled+.btn, .btn-check[disabled]+.btn {
  pointer-events: none;
  filter: none;
  opacity: .45;
}

#size-list {
  text-transform: UPPERCASE;
}

#size-list .btn span {
  margin-bottom: 0px;
}

#size-list .btn {    			
  background-color: white;
  color: orange
}

#size-list .btn-check:checked+.btn-warning {		
  background-color: orange;
  color: white		
}

.colors .btn-check+.btn-warning{ 
  span.glyphicon-ok {    			
    opacity: 0;
    margin-top: 0px;
  }
  span.glyphicon-remove {    			
    display: none;
    margin-top: 0px;		
  }
}

.colors .btn-check+.btn-warning[style="background: white"] { 
  color: orange
}

.colors .btn-check:checked+.btn-warning{
  span.glyphicon-ok {				
    opacity: 1;				
  }
}

.colors .btn-check:disabled+.btn, .btn-check[disabled]+.btn {
  pointer-events: none;
  filter: none;
  opacity: .45;
  span.glyphicon-remove {
    display: block;
    opacity: 1;
  }
  span.glyphicon-ok {
    display: none;
  }
}

.priceBefore {
  margin-top: 10px;
  font-size: 20px;
  text-decoration: line-through;
  color: #929292;
  margin-right: 10px;
}

#similar-product .carousel-inner .item img {
  max-width: 75px;
  cursor: pointer;
}

#quantity {
  margin: 0;
}

#details pre{
  color: #363432;
  background-color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  padding: 0 20px;
  border: none;
}

.product-name {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 40px;
}
input[type="text"]#productId{
  -webkit-appearance: none!important;
  border: 0;
  background: white;
  width: 100%;
}

#contact-page #descriptionTextarea {
  height: 160px;
  resize: none;
}

.form-check-other {
  justify-content: start;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 30px;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 28px;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
}

.checkbox-select-all-options {
  width: 120px;
}