<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#top">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Top
          </a>
        </h4>
      </div>
      <div id="top" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="/filter?categories=t-shirtsAndPoloShirts">T-shirts & Polo shirts</a></li>
            <li><a href="/filter?categories=shirts">Shirts</a></li>
            <li><a href="/filter?categories=longsleeves">Longsleeves</a></li>
            <li><a href="/filter?categories=sweaterAndCardigans">Sweater & Cardigans</a></li>
            <li><a href="/filter?categories=sweattshirstsAndHoddies">Sweattshirsts & Hoddies</a></li>
            <li><a href="/filter?categories=outerwear">Outerwear</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#bottom">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Bottom
          </a>
        </h4>
      </div>
      <div id="bottom" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="/filter?categories=dressesAndSkirts">Dresses & Skirts</a></li>
            <li><a href="/filter?categories=pants">Pants</a></li>
            <li><a href="/filter?categories=shorts">Shorts</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#accessories">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Accessories
          </a>
        </h4>
      </div>
      <div id="accessories" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="/filter?categories=capsHats">Caps/Hats</a></li>
            <li><a href="/filter?categories=wallets">Wallets</a></li>
            <li><a href="/filter?categories=socks">Socks</a></li>
            <li><a href="/filter?categories=otherAccessories">Other Accessories</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="price-range">
    <h2>Price Range</h2>
    <div class="well text-center">
      <div class="slider slider-horizontal" style="width: 182px;">
        <div class="slider-track">
          <div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div>
          <div class="slider-handle round left-round" style="left: 41.6667%;"></div>
          <div class="slider-handle round" style="left: 75%;"></div>
        </div>
        <div class="tooltip top" style="top: -30px; left: 73.1667px;">
          <div class="tooltip-arrow"></div>
          <div class="tooltip-inner">0 : 1000</div>
        </div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5"
          data-slider-value="[0, 1000]" id="sl2" style="">
      </div><br>
      <b class="pull-left">0 Đ</b> <b class="pull-right">1000K Đ</b>
    </div>
  </div>
  <div class="shipping text-center">
    <img src="/images/home/shipping.jpg" alt="">
  </div>
</div>
<script src="/js/queryParams.js"></script>