<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="/products/getCreate">
            <span class="badge pull-right"></span>
            Create Product
          </a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#createSku">
            <span class="badge pull-right"></span>
            Create Sku
          </a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="/products/stored-products">
            <span class="badge pull-right"></span>
            Update Product
          </a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#womens">
            <span class="badge pull-right"></span>
            Update Skus
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>