<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#top">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Top
          </a>
        </h4>
      </div>
      <div id="top" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="#">T-shirts & Polo shirts</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Longsleeves</a></li>
            <li><a href="#">Sweater & Cardigans</a></li>
            <li><a href="#">Sweattshirsts & Hoddies</a></li>
            <li><a href="#">Outerwear</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#bottom">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Bottom
          </a>
        </h4>
      </div>
      <div id="bottom" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="#">Dresses & Skirts</a></li>
            <li><a href="#">Pants</a></li>
            <li><a href="#">Shorts</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#accessories">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Accessories
          </a>
        </h4>
      </div>
      <div id="accessories" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="#">Caps/Hats</a></li>
            <li><a href="#">Wallets</a></li>
            <li><a href="#">Socks</a></li>
            <li><a href="#">Other Accessories</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="price-range">
    <h2>Price Range</h2>
    <div class="well text-center">
      <div class="slider slider-horizontal" style="width: 182px;">
        <div class="slider-track">
          <div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div>
          <div class="slider-handle round left-round" style="left: 41.6667%;"></div>
          <div class="slider-handle round" style="left: 75%;"></div>
        </div>
        <div class="tooltip top" style="top: -30px; left: 73.1667px;">
          <div class="tooltip-arrow"></div>
          <div class="tooltip-inner">250 : 450</div>
        </div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5"
          data-slider-value="[250,450]" id="sl2" style="">
      </div><br>
      <b class="pull-left">0K Đ</b> <b class="pull-right">1000K Đ</b>
    </div>
  </div>
  <div class="sort">
    <h2>Sort</h2>
    <div class="panel-body" style="margin: 0 10px">
      <ul>
        <li>Tên {{{sortable 'name' _sort}}}</li>
        <li>Giá gốc {{{sortable 'price.minPriceBase' _sort}}}</li>
        <li>Giá sau khi giảm {{{sortable 'price.minPrice' _sort}}}</li>
        <li>Số lượng {{{sortable 'total_quantity' _sort}}}</li>
      </ul>
    </div>
  </div>
  <div class="shipping text-center">
    <img src="/images/home/shipping.jpg" alt="">
  </div>
</div>